<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.css' %}">
    <style>
        .extra-button {
            margin-left: 5px;
        }
    </style>
</head>

{% block login %}
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <form action="/login/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                {% if login_error %}
                    <p class="help is-danger">{{ login_error }}</p>
                {% endif %}
                <div>
                    <button type="submit" class="button is-primary">Войти</button>
                    <a href="/registration/" class="button is-outlined extra-button">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}