<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.css' %}">
</head>

{% block login %}
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <form action="/password_change/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="button is-primary">Изменить</button>
            </form>
        </div>
    </div>
{% endblock %}