<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.css' %}">
    <style>
        body {
            margin: 5px;
        }
    </style>
</head>

{% block profile %}
    <div class="columns is-mobile">
        <div class="column is-half">
            <a href="/password_change/" class="button is-outlined extra-button">Поменять пароль</a>
            <a href="/logout/" class="button is-outlined extra-button">Выйти</a>
        </div>
    </div>
    <div class="columns is-mobile">
        <div class="column is-half">
            <label class="label">Ваша почта - {{ user.email }}</label>
            <label class="label">Ваш год рождения - {{ user.year }}</label>
        </div>
    </div>
{% endblock %}