<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bulma.css' %}">
    <style>
        .extra-button {
            margin-left: 5px;
        }
    </style>
</head>

{% block register %}
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <form action="/registration/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="field">
                        <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="button is-primary">Зарегистрироваться</button>
                <a href="/login/" class="button is-outlined extra-button">Войти</a>
            </form>
        </div>
    </div>
{% endblock %}